body {
    margin: 0;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

#home { 
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background: url(/assets/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    position: absolute;
}


:root {
    --color-primary: #c2d4f2;
    --color-secondary: #b1c9f0;
    --color-tertiary: #a2bfef;
    --color-quaternary: #94b7f0;
    --color-quinary: #82adf2;
}

h1 {
    font-size: 120px;
    margin: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 15px;
    animation: shadows 0.8s ease-out forwards, move 0.8s ease-out forwards;
}

@keyframes shadows {
    0% {
      text-shadow: none;
    }
    25% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    75% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    100% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
}
  
@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-3px, -3px);
    }
    50% {
        transform: translate(-6px, -6px);
    }
    75% {
        transform: translate(-9px, -9px);
    }
    100% {
        transform: translate(-12px, -12px);
    }
}

.selector, .arrow, .rarrow {
    font-size: 55px;
    display: inline-block;
    color: #eaf2ff;
    text-decoration: none;
    margin: 2px 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.selector {
    text-align: center;
    width: 350px;
}

.arrow {
    width: 40px;
    margin-left: 210px;
}

.rarrow {
    width: 40px;
}

p {
    padding: 0;
    margin: 0;
}

#homecont {
    background: rgba(230, 230, 255, 0.1);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(50, 50, 70, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 850px;
    height: 550px;
    margin-top: calc(max(calc(var(--vh, 1vh) * 50) - 275px, 25px));
    margin-left: calc(max(50vw - 425px, 25px));
}

@media (max-width: 900px) {
    #home {
        min-width: 400px;
        min-height: 500px;
    }
    #homecont {
        width: 380px;
        height: 450px;
        margin-top: calc(max(calc(var(--vh, 1vh) * 50) - 240px, 25px));
        margin-left: calc(max(50vw - 190px, 10px));
    }
    h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        font-size: 65px;
        letter-spacing: 5px;
    }
    .selector, .arrow, .rarrow {
        font-size: 35px;
        margin: 5px 0;
    }
    .selector {
        width: 200px;
    }
    .rarrow {
        width: 20px;
    }
    .arrow {
        width: 20px;
        margin-left: 70px;
    }
}