body {
    margin: 0;
    color: white;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

html {
    background-color: rgba(1, 0, 35);
}

.bg::after { 
    content: "";
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    background: url(/assets/img/background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --color-primary: #697c9c;
    --color-secondary: #576e97;
    --color-tertiary: #436091;
    --color-quaternary: #385992;
    --color-quinary: #274d8f;
    --color-highlight: #0e2c5f;

    --color-hover: #adb1ff;
    --color-offwhite: #d5d5d5;
    --color-title: #d7ecff;
}

h1 {
    font-size: 120px;
    margin: 0;
    width: 100%;
    padding-top: calc(40px + 30px);
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Copse', sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-shadow: 5px 5px var(--color-quinary);
    color: var(--color-title);
}

strong {
  position: relative;
  z-index: 1;
}

strong::before {
  /* Highlight color */
  background-color: var(--color-highlight);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 50%;
  left: -2px;
  bottom: 0;
  top: 60px;
  transform: rotate(-2deg);
  z-index: -1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    padding: 0;
    margin: 0;
}

#home {
  padding: calc(max(80px, calc(50vh - 225px))) calc(max(10px, calc(50vw - 400px)));
  min-height: 610px;
}

.home-container {
  max-width: 800px;
  height: 450px;
  background-color: #ffffff00;
  border-radius: 80px;
}



.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  background: rgba(1, 0, 35, 0);
  color: #000;
  height: 60px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

.menu-items li:hover {
  transform: scale(1.1);
}

.menu-items a {
  text-decoration: none;
  color: var(--color-offwhite);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: var(--color-hover);
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-title);
  text-shadow: 2px 2px var(--color-quinary);
  font-family: 'Copse', sans-serif;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#home {
    height: 100vh;
    width: 100vw;
}

.desc {
  padding: 10px 20px 0px 20px;
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
}

.icons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.icons a {
  font-size: 13px;
  padding: 0px 10px;
  transition: transform 0.2s ease-in-out;
}

.icons a:hover {
  transform: scale(1.15);
}

#about {
  background: rgba(1, 0, 35);
}

#about-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  flex-direction: row;
  padding: 100px 50px;
  /* align-items: center; */
  gap: 40px 30px;
}

#about-img img {
  max-height: 500px;
  max-width: 100%;
}

#about-pg {
  font-size: 1.6rem;
  max-width: 600px;
  display: flex;
  align-items: center;
}

#projects {
  background-color: black;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 30px 40px 60px 40px;
  align-items: center;
  gap: 60px 0px;
  max-width: 1400px;
  margin: auto;
  align-items: initial;
  z-index: 1;
  position: relative;
}

.project-box {
  max-width: 1200px;
  background-color: rgba(1, 0, 35);
  padding: 30px 20px;
}

.project-box img {
  width: calc(100% - 40px);
  margin: 0px 20px;
}

.project-title {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.project-pg {
  font-size: 1.2rem;
  padding-top: 10px;
}

#projects h3 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

#stars {
  position: absolute;
  width: 100%;
  z-index: 0;
}

h3 strong::before {
  top: 20px;
}  

h3 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Copse', sans-serif;
  text-shadow: 2px 2px var(--color-quinary);
  color: var(--color-title);
}

@media (max-width: 768px) {

  .desc {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 100px;
    letter-spacing: 2px;
    padding-top: 60px;
  }

  strong::before {
    top: 50px;
  }  

  #about-pg {
    font-size: 1.3rem;
  }  

  h3 {
    font-size: 2.3rem;
  }

  .project-pg {
    font-size: 1.2rem;
  }
    
      .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines {
        display: block;
      }
    
      .navbar-container {
        display: block;
        position: relative;
        height: 64px;
      }
    
      .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 37px;
        top: 19px;
        left: -1px;
        z-index: 5;
        opacity: 0;
      }
    
      .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 22px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: var(--color-offwhite);
      }
    
      .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    
      .navbar .menu-items {
        padding-top: 80px;
        background: rgba(1, 0, 35, 0.8);
        height: 100vh;
        max-width: 180px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 10px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #000;
      }
    
      .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        
      }
    
      .logo {
        position: absolute;
        top: 14px;
        right: 15px;
        font-size: 1.6rem;
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
      }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
    letter-spacing: 0px;
  }

  strong::before {
    top: 35px;
  }  

  #about-container h3 {
    font-size: 2.4rem;
  }
    

  .icons a {
    font-size: 10px;
    padding: 0px 6px;
  }

  .desc {
    font-size: 1.6rem;
    padding: 20px 10px 0px 10px;
  }  
}