body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.buttn {
    font-family: sans-serif;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 38px;
    background-color: #00000066;
    font-size: 30px;
    padding-top: 12px;
    text-align: center;
    color: white;
}

.buttn:hover {
    cursor: pointer;
}

.buttnclicked {
    background-color: #ffffff33;
    color: black;
}

body html canvas .noselect {
-webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -khtml-user-select: none !important; /* Konqueror HTML */
        -moz-user-select: none !important; /* Old versions of Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}